@font-face {
  font-family: "SimpsonsFont";
  src: url("../../assets/fonts/SimpsonsFont.eot");
  src: url("../../assets/fonts/SimpsonsFont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/SimpsonsFont.woff2") format("woff2"),
    url("../../assets/fonts/SimpsonsFont.ttf") format("truetype"),
    url("../../assets/fonts/SimpsonsFont.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
